<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gsitm.career.mapper.DemoMapper">

    <select id="memberSearch" resultType="MemberVO">
        SELECT  id, passwd
        FROM member
        WHERE id = #{id}
    </select>

    <insert id="insertMember" parameterType="MemberVO">
        INSERT INTO
        member (id,
               passwd)
        VALUES(#{id},
               #{passwd})
    </insert>

    <!-- 고양이 정보글 , 문자열 변수를 파라미터로 받아 사용-->
    <select id="CatInfoList" resultType="BoardVO">
        SELECT  board_num AS boardNum,
                board_id AS boardId,
                id,
                title,
                content,
                CREATE_TIME AS createTime
        FROM board
        WHERE board_id = #{catinfo}
        ORDER BY CREATE_TIME desc
    </select>

    <!--  고양이 입양글, 문자열 변수를 파라미터로 받아 사용 -->
    <select id="CatAdoptList" resultType="BoardVO">
        SELECT  board_num AS boardNum,
                id,
                title,
                content,
                CREATE_TIME AS createTime
        FROM board
        WHERE board_id = #{catadopt}
        ORDER BY CREATE_TIME desc
    </select>

    <!--  고양이 질문 , 문자열 변수를 파라미터로 받아 사용-->
    <select id="CatQaList" resultType="BoardVO">
        SELECT  board_num AS boardNum,
                id,
                title,
                content,
                CREATE_TIME AS createTime
        FROM board
        WHERE board_id = #{catqa}
        ORDER BY CREATE_TIME desc
    </select>

    <!-- 글 상세보기 -->
     <select id="article" resultType="BoardVO">
        SELECT  board_num AS boardNum,
                board_id AS boardId,
                id,
                title,
                content,
                CREATE_TIME AS createTime
        FROM board
        WHERE board_num = #{num}
    </select>

    <!-- 댓글 보기 -->
    <select id="comment" resultType="CommentVO">
        SELECT  board_num AS boardNum,
                id,
                cmt AS comments,
                CREATE_TIME AS createTime
        FROM comment
        WHERE board_num = #{num}
    </select>


</mapper>