<!DOCTYPE html>
<html lang="ko"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" style="background: #f9f9f9;">

    <head th:replace="layout/config_cat :: configFragment">
    </head>

   <body>
      <div style="background: #f9f9f9;">
        <div class=" pd-x-0 pd-lg-x-10 pd-xl-x-0 mg-l-100">
          <div layout:fragment="content">
          </div>
        </div><!-- container -->
      </div><!-- content -->

   </body>


</html>